<div class="padd">

  <h2>Editar Formulario</h2>
<hr>
  <%= render partial: 'form' , locals: {txt: "Salvar Edição"}%>



</div>

<div class="widget-foot">
  <%= button_to 'Voltar', formularios_path,method: :get, class: "btn btn-warning" %>
</div>
