<div class="padd">

  <p id="notice"><%= notice %></p>

  <h1>Formularios Enviados</h1>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Nome do Campo</th>
      <th>Tipo</th>
      <th>Valor</th>

    </tr>
    </thead>

    <tbody>
    <% @form.each do |formulario| %>

        <tr>
          <td><%= formulario.formulario_field.label %></td>

          <td><%= @tipo[formulario.formulario_field.field_type_id] %></td>

          <td><button class="btn btn-default">Abrir Imagem</button></td>




        </tr>
    <% end %>
    </tbody>
  </table>

  <br>



</div>

<div class="widget-foot">

  <%= button_to 'Voltar', formulario_preenchido_indexp_path, method: :get ,class: "btn btn-success" %>
</div>
