<div class="padd">

  <h2>Editing Formulario Field</h2>
<hr>
  <%= render partial: 'form' , locals: {txt: "Salvar Edição"} %>
</div>

<div class="widget-foot">

  <%= button_to 'Voltar', formulario_fields_path ,method: :get, class: "btn btn-warning" %>

</div>




