<div class="padd">

  <h2>Editar Filial</h2>
<hr>
  <%= render partial: 'form'  , locals: {txt: "Editar Filial"}%>


</div>

<div class="widget-foot">

  <%= button_to 'Voltar', filials_path,method: :get, class: "btn btn-warning" %>
</div>
