<div class="padd">
  <h1>Nova Filial</h1>


  <%= render partial: 'form', locals: {txt: "Criar Filial"} %>


</div>

<div class="widget-foot">
  <%= button_to 'Voltar', filials_path ,method: :get ,class:"btn btn-warning"%>
</div>

