<div class="padd">
  <h2>Editar Usuario</h2>
<hr>
  <%= render partial: 'form' , locals: {txt: "Editar Usuario"}%>



</div>

<div class="widget-foot">
  <%= button_to 'Voltar', usuarios_path,method: :get, class: "btn btn-warning" %>
</div>

